{% extends 'base.html.twig' %}

{% block title %}Catégories éditeurs{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center">Catégories éditeurs</h1>

        {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_categories_index') }}"><img class="img-mod" src="{{ asset('img/revenir.svg')}}" alt="retour" /></a>

        {{ include('categories/_delete_form.html.twig') }}
    </sction>
{% endblock %}
