{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
{% for produit in produits %}
  
<div class="card" style="width: 18rem;">
 

  <div class="card-body"><a href="{{ path('app_main_produits_show', {'id': produit.id}) }}">
    <h5 class="card-title">{{produit.name}}</h5>
     {% for image in produit.images %}
     <img src="{{ asset('/uploads/img/'~image.name) }}" alt="Image" width="150">
     {% endfor %}
    
       <p class="card-text">{{produit.price}}€</p>

  
  
  <a></div>
</div>


{% endfor %}
{% endblock %}
