/*body {
    min-width: 430px !important;
}*/

#categories-sommes, #categories-number, #produitsCount, #produitsCount2 {
    min-width: 518px;
    width: 518px;
}
#graphs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}