body {
    min-width: 430px !important;
}

#categories-sommes, #categories-number, #produitsCount, #produitsCount2 {
    width: 420px;
    height: 520px;
}
#graphs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}