body {
    min-width: 320px;
}

.img-mod {
    width: 25px;
}

h1 .img-mod {
    width: 50px;
}

form div+ div {
    display: grid;
    grid-template-columns: auto 1fr;
}

#produits #produits_achat_at, #produits #produits_guarantee_at {
    display: unset;
}

form div label {
    width: 80px;
    text-align: right;
    padding-right: 5px;
}

.imd-delet-prd {
    margin-left: 0px;
}
.card-body a{
    text-decoration: none;
    color: black;
}
.card-body img{
    display:block;
    margin: auto;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-body h5{
    text-align: center;
}

/*page produit individuel*/
.produit_ind{
    margin-top: 70px;

}
.img-pdf, .img-ticket{
    width: 45px;
    display:block;
    margin: auto;
    margin-top: 10px;
    
}
.lien span{
    margin-top: 50px;
    font-size: small;
    margin-right: 40px;
}
.lien_pdf a{
    text-decoration: none;
    color:black;
}
.produit{
    width: 800px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: justify;
}
.produit_img{
    
    transition: transform .1s;
}
.produit_img:hover{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3); 
    transform: scale(1.3);
}
.images{
    display: flex;
    flex-direction: column;
}
.colonne_gauche{
    width: 250px;
    height: 150px;
    margin-top: 20px;
    margin: 4px, 4px;
    padding: 4px;
    background-color: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
#burger_menu{
    filter: invert(1);
}
#menu a{
    color: white;
}

#menu a:hover{
    color:black;
}

main{
    margin-top: 50px;
}

.form-control-color{
    width: 100%;
}

input:focus, textarea:focus {
  outline: none;
}
.input_none{
    display: none;
}
#select_cat{
    margin-top: 10px;
}

#manuel_src_id, #ticket_src_id {
    display: none;
}

.img-produit-figure {
    border: rgb(180, 180, 180) 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.dropdown-menu.show {
    margin-left: -103px;
}

.menu {
    list-style-type: none;
}

.sub-menu {
    margin-left: 15px;
}

.sous-menu {
    margin-left: 15px;
}

input[type="file"] {
    display: none;
}

/**********************/
/** version < 991px ***/
/**********************/
@media screen and (max-width: 991px) {
    .dropdown-menu.show {
        margin-left: -103px;
    }
}

/**********************/
/** version < 676px ***/
/**********************/
@media screen and (max-width: 676px) {
    .col-pc {
        display: none;
    }
}

/**********************/
/** version < 444px ***/
/**********************/
@media screen and (max-width: 444px) {
    .col-mod-tel {
        display: none;
    }
}