{% extends 'users.html.twig' %}

{% block title %}Nouveau catégorie{% endblock %}

{% block body %}
    <section class="container">
        <h1 class="text-center">Créer la nouvelle catégorie</h1>

        {{ include('categories/_form.html.twig', {'editor_mod' : false}) }}

    </sction>
{% endblock %}
