<a href="#" class="delete_produit btn bg-light bg-gradient">
    <input type="hidden" id="id_produit" value="{{produit.id}}" />
    <img class="img-mod" src="{{ asset('img/poubelle.svg')}}" alt="supprimer" />
</a>
