{% extends 'base_connexion.html.twig' %}

{% block title %}Réinitialiser mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    <h1 class="text-center">Réinitialiser votre mot de passe</h1>
        
    {{ form_start(requestForm) }}
    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
        {{ form_widget(requestForm.email) }}
        <div >
            <small >
                Entrer votre adresse mail pour réinitialiser votre mot de passe
            </small><br/><br/><br/><br/>
        </div>
        </div>
    </div>
        
    <p v-html="desc"></p>

        <p class="text-center">
        <button class="btn btn-primary">Envoyer </button>
   
  
    {{ form_end(requestForm) }}
{% endblock %}
